* {
	text-align: center;
}

td {
	width:24pt;
	height:24pt;
	border-collapse:collapse;
	border-color: black;
	border-style: solid;
	border-width: 1pt 0pt 0pt 1pt;
	font-size:150%;
}

table {
	padding: 3px;
	text-align:center;
	border-spacing:5pt;
	font-family:'Arial Unicode MS';
	border-collapse: collapse;
	border-color: black;
	border-style: solid;
	border-width: 3pt 3pt 3pt 3pt;
}
